<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DanbooruTagEditor.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DanbooruTagEditor.Settings>
            <setting name="translateCsvPath" serializeAs="String">
                <value>S:\VisualStudioProjects\DanbooruTagEditor\DanbooruTagEditor\csv\translateMap.csv</value>
            </setting>
            <setting name="categoryColorMapJsonPath" serializeAs="String">
                <value>S:\VisualStudioProjects\DanbooruTagEditor\DanbooruTagEditor\json\categoryColorMap.json</value>
            </setting>
            <setting name="tagCategoryMapJsonPath" serializeAs="String">
                <value>S:\VisualStudioProjects\DanbooruTagEditor\DanbooruTagEditor\json\tagCategoryMap.json</value>
            </setting>
        </DanbooruTagEditor.Settings>
    </userSettings>
</configuration>